/* CTA */
.cta {
  background: teal;
  color: white;
  text-align: center;
  padding: 60px;
}

.benefits {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background: #f9f9f9;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4b5563; /* cinza moderno */
  font-size: 14px;
}

.icon {
  color: #14b8a6; /* teal */
  font-weight: bold;
  border: 1px solid #14b8a6;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}