/* HEADER */
.header {
  background: #f2f2f3;
  border-bottom: 1px solid #f1f5f9;
  z-index: 100;
}

/* CONTAINER DO HEADER */
.header .container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* 🔥 GARANTE ALINHAMENTO IGUAL PRA TUDO */
.header .container > * {
  display: flex;
  align-items: center;
  height: 100%;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  margin-top: 7px;
}

.logo-icon {
  display: flex;
  align-items: center;
}

.logo-icon img {
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 10px;
}

/* MENU CENTRAL */
.nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: #6b7280;
  font-size: 14px;
  transition: 0.3s;
}

.nav a:hover {
  color: #111827;
}

/* AÇÕES (DIREITA) */
.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

/* BOTÕES */
.actions .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; /* 🔥 padroniza altura */
  padding: 0 16px;
  background: #14b8a6;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.actions .btn:hover {
  background: #0d9488;
}

